.page-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Qwitcher Grypen", cursive;
  color: $text-secondary;
  position: relative;
  text-align: center;
  display: block;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: $olive-background;
  }
} 