.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
    background-color: $green-background;
    color: $text-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    border-top: 3px solid $primary-color;

    .nav-container {
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .logo {
        font-family: "Qwitcher Grypen", cursive;
        font-weight: bold;
        font-size: 2.5em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        text-decoration: none;
        color: $text-primary;
        z-index: 1002;
    }

    .menu-icon {
        display: none;
        font-size: 1.2em;
        cursor: pointer;
        z-index: 1001;
        position: absolute;
        right: 1em;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .left-links,
        .right-links {
            display: flex;
            gap: 10em;
            list-style: none;

            li {
                font-size: 0.7em;
                font-weight: 500;
                text-transform: uppercase;
                cursor: pointer;
                transition: transform 0.3s ease, color 0.3s ease;

                a {
                    text-decoration: none;
                    color: inherit;
                }
                
                &:hover {
                    color: $text-olive;
                    transform: translateY(-2.5px);
                    text-shadow: 0.1em 0.1em 0.2em $text-olive;
                }
            }
        }

        li:first-child {
            margin-left: 8em;
        }

        li:last-child {
            margin-right: 8em;
        }
    }

    // phone responsiveness
    @media only screen and (max-width: 768px) {
        padding: 0.5em 1em;

        .nav-container {
            padding: 0 1em;
            justify-content: space-between;
        }

        .logo {
            position: static;
            transform: none;
            font-size: 2em;
        }

        .menu-icon {
            display: block;
            position: static;
        }

        .nav-menu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: $green-background;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            padding: 1.5em;
            display: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            &.open {
                display: flex;
            }

            li:first-child {
                margin-left: 0;
            }

            li:last-child {
                margin-right: 0;
            }

            .left-links,
            .right-links {
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
                margin: 0;
            }
        }
    }

    // tablet responsiveness
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .nav-menu {
            .left-links,
            .right-links {
                gap: 5em;
            }

            li:first-child {
                margin-left: 4em;
            }
    
            li:last-child {
                margin-right: 4em;
            }
        }
    }
}