.about-hero {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3rem 2rem;
    max-width: 1290px;
    margin: 0 auto;

    &__image-container {
        position: relative;
        width: 400px;
        max-width: 90vw;
        margin-left: 150px;
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
    }

    &__text-box {
        position: absolute;
        right: 20px;
        background: $white-background;
        border: 1px solid;
        padding: 2rem;
        max-width: 600px;
        z-index: 2;
        margin-right: 120px;
    }

    &__headline {
        color: $text-secondary;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 1.2rem;
        line-height: 1.6;
    }

    // phone responsiveness
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        &__image-container {
            position: static;
            max-width: 80vw;
            margin-left: 0;
        }

        &__text-box {
            position: static;
            padding: 1.2rem 1rem;
            margin: 0;
            max-width: 95vw;
            width: 100%;
            box-sizing: border-box;
            top: unset;
            right: unset;
            left: unset;
            transform: none;
        }
    }

    // tablet responsiveness
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 1.5rem 1rem;

        &__image-container{
            margin-left: 0;
            width: 350px;
        }

        &__text-box{
            margin-right: 0;
            max-width: 500px;
        }
    }
}
