.about-section {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 2rem;
	padding: 2rem;
	flex-wrap: wrap;
	position: relative;

	.image-container {
		flex: 1;
		max-width: 400px;
		min-width: 300px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.text-box-section {
		flex: 1;
		min-width: 300px;
		max-width: 600px;
		margin-top: 2rem;

		h2 {
			font-family: "Qwitcher Grypen", cursive;
			display: flex;
			align-items: center;
			gap: 0.75rem;
			font-size: 3.5rem;
			color: $text-secondary;
		}

		.about-text-box {
			position: absolute;
			left: 39%;
			z-index: 2;
			background-color: $white-background;
			padding: 1rem 1.5rem;
			border: 1px solid $color-black;
			width: 650px;
			max-width: 100%;

			h3 {
				margin: 0.5rem 0;
				text-transform: uppercase;
				font-size: 0.8rem;
				font-weight: 600;
				color: $text-olive;
			}

			h4 {
				margin: 0.5rem 0;
				font-size: 1rem;
				color: $text-secondary;
			}

			.text-title {
				display: flex;
				gap: 30px;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.75rem;
				margin-bottom: 1rem;

				p {
					margin: 0;
					padding: 0;
				}
			}

			p {
				margin-bottom: 1.5rem;
			}

			button {
				margin: 0 auto;
				display: block;
			}
		}
	}

	// phone responsiveness
	@media only screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		padding: 1rem;

		.text-box-section {
			margin-top: 0;

			h2 {
				font-size: 2.5rem;
			}

			.about-text-box {
				position: static;
				width: 100%;
				margin-top: 1rem;
				padding: 1rem;
			}
		}
	}

	// tablet responsiveness
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 0.7rem;
        
		.text-box-section {
            margin-top: 0;

			.about-text-box {
                max-width: 500px;
			}
		}
	}
}
