@use './_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 4em;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $background-color;
}
