@use './_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: repeating-radial-gradient(
        circle, 
        rgba(0, 0, 0, 0.015) 0, 
        rgba(0, 0, 0, 0.015) 1px,
        transparent 2px,
        transparent 4px
    ), $primary-color;
    overflow-x: hidden;
}

p {
    font-size: 0.9rem;
    line-height: 2;
    color: $paragraph-color;

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

