$primary-color: #fae8d2;
$secondary-color: #052b05;
$accent-color: #cc9800;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #808080;

// background colors
$background-color: $primary-color;
$white-background: $color-white;
$green-background: $secondary-color;
$olive-background: $accent-color;

// text colors
$text-primary: $primary-color;
$text-secondary: $secondary-color;
$text-white: $color-white;
$text-black: $color-black;
$text-olive: $accent-color;